body {
  background-color: yellow;
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  height: 100%;
}
header,
footer {
  color: #eaefef;
  background-color: #bab9ac;
  width: 100%;
  height: 50px;
}
header {
  display: inline-flex;
  font-family: "Rambla", sans-serif;
  font-size: 1.1em;
}
#container {
  background-image: url(../images/phy11.jpg);
  display: block;
  height: 800px;
}
.otroIntento {
  color: rgb(70, 110, 195);
  font-weight: bold;
}
footer {
  text-align: center;
}
